.dropdown-label {
  margin-right: 2vmin;
}

.video-list {
  margin-top: 3vmin;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vmin;
  text-decoration: none;
  color: var(--c-black);
  margin-bottom: 3vh;
  border-radius: var(--s-xs);
  border: 3px var(--c-1) solid;
  background-color: var(--c-2);
}

.video-error {
  margin-bottom: 5vmin;
}

.video-img {
  height: 100%;
  border-right: 3px var(--c-1) solid;
  border-radius: var(--s-xs) 0 0 var(--s-xs);
}

.video-metadata {
  text-align: left;
  margin-left: 2vmin;
  width: 60vw;
}

.video-metadata-title {
  padding: 0;
  margin: 0;
  font-size: var(--fs-xs);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 59vw;
}

.video-metadata-description {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 59vw;
}

.video-metadata-channel-and-date {
  font-size: var(--fs-xxs);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 59vw;
}

.channels-list {
  padding: 0;
  margin-bottom: 5vmin;
  list-style-type: none;
}

.channels-list-item {
  margin: 0.5vmin;
}

.channels-list-item-link {
  color: var(--c-white);
}

/* large devices */
@media (min-width: 775px) {
  .video {
    height: 10vmin;
  }
  .video-metadata-title {
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--fs-m);
  }
  .video-metadata-description {
    display: block;
    font-size: var(--fs-xs);
  }
  .video-metadata-channel-and-date {
    display: block;
    font-size: var(--fs-xs);
  }
}
