:root {
  /* Variables */
  /* Colors */
  --c_primary_black: #020a0d;
  --c_primary_white: 	#f5fbfd;
  --c_1: #c8eaf7;
  --c_2: #85d1ed;
  --c_3: #f7edc8;
  --c_4: #147186;
  /* Fonts */
  --f_default: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --fs-xs: .75rem;
  --fs-s: 1.5rem;
  --fs-m: 1.75rem;
  --fs-l: 3rem;
  /* Spacing */
  --s-xs: 1rem;
  --s-s: 2rem;
  --s-m: 5rem;
  --s-l: 10rem;
}

body {
  background-color: var(--c_primary_black);
  color: var(--c_primary_white);
  font-family: var(--f_default);
  text-align: center;
}

h1 {
  color: var(--c_2);
  font-size: var(--fs-l);
}

h2 {
  color: var(--c_1);
  font-size: var(--fs-m);
}

p {
  font-size: var(--fs-s);
}

a {
  color: var(--c_1);
}
