:root {
  /* Variables */
  /* Colors */
      --c-black: #020a0d;
    --c-white: 	#f5fbfd;
  --c-1: #c8eaf7;
  --c-2: #85d1ed;
  --c-3: #f7edc8;
  --c-4: #147186;
  /* Fonts */
  --f-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --fs-xs: .75rem;
  --fs-s: 1.5rem;
  --fs-m: 1.75rem;
  --fs-l: 3rem;
  /* Spacing */
  --s-xs: 1rem;
  --s-s: 2rem;
  --s-m: 5rem;
  --s-l: 10rem;
}

body {
  background-color: var(    --c-black);
  color: var(  --c-white);
  font-family: var(--f-default);
  text-align: center;
}

h1 {
  color: var(--c-2);
  font-size: var(--fs-l);
}

h2 {
  color: var(--c-1);
  font-size: var(--fs-m);
}

p {
  font-size: var(--fs-s);
}

a {
  color: var(--c-1);
}
