:root {
  /* Variables */
  /* Colors */
      --c-black: #020a0d;
    --c-white: 	#f5fbfd;
  --c-1: #c8eaf7;
  --c-2: #85d1ed;
  --c-3: #f7edc8;
  --c-4: #147186;
  /* Fonts */
  --f-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --fs-xxs: .75rem;
  --fs-xs: 1rem;
  --fs-s: 1.5rem;
  --fs-m: 1.75rem;
  --fs-l: 3rem;
  --fs-xl: 5rem;
  /* Spacing */
  --s-xxxs: .1rem;
  --s-xxs: .5rem;
  --s-xs: 1rem;
  --s-s: 2rem;
  --s-m: 5rem;
  --s-l: 12.4rem;
  --s-xl: 20rem;
  --s-xxl: 75rem;
  /* Elevation */
  --z-top: 2;
  /* Border */
  --b-1: .1rem;
}

body {
  background-color: var(--c-black);
  color: var(--c-white);
  font-family: var(--f-default);
  text-align: center;
}

h1 {
  color: var(--c-2);
  font-size: var(--fs-l);
}

h2 {
  color: var(--c-1);
  font-size: var(--fs-m);
  margin-bottom: 0;
}

p {
  font-size: var(--fs-s);
}

hr {
  border: calc(var(--b-1)/2) var(--c-1) solid;
  width: var(--s-l);
  margin: var(--s-s) 0 var(--s-s) 0;
}

button {
  border: none;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:active {
  transform: scale(0.99);
}
