.about-icons-container {
  margin-bottom: var(--s-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 75vw;
}

.about-p {
  width: 75vw;
}

.about-hero {
  margin-bottom: var(--s-xs);
}

.about-hero-2 {
  margin-top: 0;
}
