img {
  margin: var(--s-s);
  width: 200px;
  height: 200px;
  border-radius: 100vmax;
  border: var(  --c-white) solid .3rem;
}

.about-icons-container {
  margin-bottom: var(--s-s);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: min(70vw, 15rem);
}

.about-p {
  width: min(75vw, 15rem);
}