._default-container {
  background-color: var(--c-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 80vh;
  margin-bottom: var(--s-m);
}

._default-paragraph {
  margin: var(--s-s);
}
