.footer-container {
  color: var(--c-1);
  background-color: var(--c-black);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--s-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xxs);
  z-index: var(--z-top);
  border-top: var(--b-1) var(--c-1) solid;
}