#md-container h2,
#md-container h3,
#md-container p,
#md-container a,
#md-container span,
#md-container div {
  text-align: left;
  word-wrap: break-word;
}

#md-container h1 {
  margin-bottom: var(--s-xs);
}

#md-container h2 {
  margin-top: calc(var(--s-s) * 1.5);
}

#md-container a {
  color: var(--c-5);
}

#md-container p {
  font-size: calc(var(--fs-s) * 0.85);
  margin-top: var(--s-xxs);
}

#md-container table {
  font-size: calc(max(var(--fs-xxs) * 0.5, 1.1vw));
  text-align: right;
  margin: auto;
}

#md-container {
  width: max(50%, var(--s-xl));
  margin-bottom: var(--s-s);
}

.post-nav {
  margin-bottom: var(--s-xl);
}
