.nav {
  background-color: var(--c-black);
  position: absolute;
  z-index: var(--z-middle);
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: var(--s-s);
  border-radius: var(--s-xs) 0 0 0;
  border-top: var(--b-1) var(--c-1) solid;
  border-left: var(--b-1) var(--c-1) solid;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: var(--s-s);
  border-radius: 0 0 var(--s-xs) 0;
  border-bottom: var(--b-1) var(--c-1) solid;
  border-right: var(--b-1) var(--c-1) solid;
}

.nav-icon-bottom {
  float: right;
}

.nav-icon-top {
  float: left;
}

.nav-container {
  padding: var(--s-xs);
}

.nav-container-bottom {
  padding-right: var(--s-s);
  border-radius: var(--s-s) 0 0 0;
}

.nav-container-top {
  padding-right: var(--s-s);
  border-radius: 0 0 var(--s-s) 0;
}

/* large devices */
@media (min-width: 600px) {
  .nav-bottom, .nav-top {
    display: none;
  }
}